* {
    margin: 0;
}

#grid_wrapper {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-areas: 
    "he na"
    "wh"
    "ar"
    "fi"
    "fo";
}

h1 {
    color: rgb(129, 128, 128);
}

header {
    grid-area: he;
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    padding-inline: 20px;
}

nav {
    grid-area: na;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    right: 0px;
    width: 50px;
}

#nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 700px;
    background-color: rgb(0, 0, 0);
    justify-content: space-around;
    align-items: center;
    top: -760px;
    right: 0px;
    transition: all 0.4s;
    overflow: hidden;
}

#nav.is-active {
    transform: translateY(820px);
}



nav ul a {
    font-size: 50px;
    color: aliceblue;
    font-weight: bold;
}

nav ul :hover{
    background-color: aqua;
}

#logo {
    margin-top: 5px;
    height: 130px;
}

.what {
    grid-area: wh;
    display: flex;
    width: 100%;
    height: 500px;
    background-color: #760f4d;
    font-size: 60px;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 60px;
    
}

#index_what{
    background-size: cover;
    background-image: url(../img/index_what.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#index_what h1 {
    color:rgb(252, 233, 255)
}

#om_oss_what {
    background-image: url(../img/om_oss_what.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#resurser_what {
    background-image: url(../img/resurser_what.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#faq_what {
    background-image: url(../img/faq_what.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#join {
    font-size: 30px;
    background-color: #5d39a6;
    border-radius: 20px;
    padding: 20px;
    color: rgb(255, 226, 226);
}

#join :hover {
    background-color: #422876;
    cursor: pointer;
}


.separator {
    width: 0;
    height: 0;
    border-right: 97.5vw solid transparent;
    border-bottom: 100px solid rgb(53, 11, 49);
    margin-top: -100px;
}

.article {
    grid-area: ar;
    flex-direction: column;
    display: flex;
    align-items: center;
    background-color: rgb(53, 11, 49);
    font-size: 25px;
    padding: 40px;
    padding-block: 50px;
    color: antiquewhite;
}

.article article {
    padding-block: 20px;
}

#index_article {
    margin: 20px;
    color: rgb(232, 232, 232);
}

.article_card {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 600px;
    background-color: rgb(0, 0, 0);
    margin: 10px;
    border-radius: 20px;
    padding: 20px;
    transition: all 0.5s;
}

.article_card:hover{
    transform: scale(1.05);
}

.article_card h2 {
    font-size: 25px;
    color: rgb(207, 207, 207);
}

.faq_card {
    width: 80%;
    margin: 3px;
    background-color: rgb(30, 5, 27);
    border-radius: 10px;
    padding: 15px;
    color: aliceblue;
    font-size: 20px;
}

footer {
    grid-area: fo;
    background-color: rgb(43, 43, 43);
    font-size: 20px;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
    padding: 20px 0 20px 0;
    font-size: 18px;
    color: rgb(151, 151, 151);
}

footer article {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer a {
    text-decoration: none;
    color: rgb(191, 191, 191);
}

a {
    text-decoration: none;
}

#kontakta_oss_what {
    
    /* skapa detta vid senare tilfälle, denna är inte klar!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
}

/* ------------------------- Hamburger_start ------------------------- */

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}
  
.bar {
    width: 20px;
    height: 2px;
    background-color: white;
    margin: 3px 0;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
  
.hamburger.is-active .top {
    transform: rotate(45deg) translate(5px, 6.5px);
}
  
.hamburger.is-active .middle {
    opacity: 0;
}
  
.hamburger.is-active .bottom {
    transform: rotate(-45deg) translate(5px, -6.5px);
}
  
/* ------------------------- Hamburger end ------------------------- */


@media screen and (min-width:800px) {

    * {
    
    }

    header {
        height: 80px;
    }

    #nav.is-active {
        transform: translateY(840px);
    }

    .separator {
        display: none;
    }


    .article {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 20px;
    }

    .faq_card {
        width: 700px;
    }
    

    footer a{
        font-size: 60px;
        padding-bottom: 50px;
    }

}